<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="fbtsw" connectionString="Data Source=pue-n7737\sqlexpress2008;Initial Catalog=D:\DOTNET4_2013\SOL1\FBTS\APP_DATA\FB_TS.MDF;Integrated Security=True" />
		<add name="fbts" connectionString="Data Source=pue-n7737\sqlexpress2008;Initial Catalog=FBTS; User ID=fbts; Password=fbts" />
	</connectionStrings>	<system.web>
		<compilation debug="true" />
		<httpRuntime />
	</system.web>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
</configuration>